:root {
  --color-orange: #ff7d1a;
  --color-pale-orange: #ffede0;

  --color-very-dark-blue: #1d2025;
  --color-dark-grayish-blue: #68707d;
  --color-grayish-blue: #b6bcc8;
  --color-light-grayish-blue: #f7f8fd;
  --color-white: #ffffff;
  --color-black: rgb(0, 0, 0);
}
